

<div class="container">


  <section class="logout-section">
    <app-logout-button></app-logout-button>
  </section>

  <section class="websocket-section">
    <app-web-socket-component></app-web-socket-component>
  </section>

  @if (userAdmin) {
    <section class="upload-section">
      <h2>Upload de fichiers</h2>
      <input type="file" multiple (change)="onFileSelected($event)" />
      <button (click)="uploadFiles()">Upload</button>
    </section>
  }

  <section class="form-section">
    <h2>Formulaire de données</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Start date:</label>
        <input type="date" formControlName="startDate">
      </div>

      <div class="form-group">
        <label>End date:</label>
        <input type="date" formControlName="end">
      </div>

      <div class="form-group">
        <label>End date 2:</label>
        <input type="date" formControlName="endDate">
      </div>

      <div class="form-group">
        <label>Type de comptes:</label>
        <div formArrayName="typeAccounts" class="typeAccounts">
          @for (accountType of typeAccounts.controls; track $index) {
            <div [formGroupName]="$index">
              <label>
                <input type="checkbox" formControlName="checked" (change)="onCheckboxChange(accountType.get('name')?.value)" />
                {{ accountType.get('name')?.value }}
              </label>
            </div>
          }
        </div>

      </div>

      <button type="submit">Submit</button>



      <div class="form-group">
        <label>
          <input type="checkbox" formControlName="curb1Display" [checked]="true" (change)="toggleCurve(0, $event)">
          Courbe 1
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" formControlName="curb2Display" [checked]="true" (change)="toggleCurve(1, $event)">
          Courbe 2
        </label>
      </div>


    </form>
  </section>

  <section class="chart-section">
    <h2>Graphique</h2>
    <div id="chart">
      <canvas #myChart></canvas>
    </div>
  </section>


</div>
