

<input type="file" multiple (change)="onFileSelected($event)" />


<button (click)="uploadFiles()">Upload</button>



<form [formGroup]="myForm" (ngSubmit)="onSubmit()">



  <label>Start date:</label>
  <input type="date" formControlName="startDate">


  <label>Start date:</label>
  <input type="date" formControlName="end">


  <label>End date2:</label>
  <input type="date" formControlName="endDate">

  <div formArrayName="typeAccounts"> 

    @for (accountType of typeAccounts.controls; track $index) {

      <div [formGroupName]="$index">
        <label>
          <input type="checkbox" formControlName="checked" (change)="onCheckboxChange(accountType.get('name')?.value)" />
          {{ accountType.get('name')?.value }}
        </label>
      </div>

    }

  </div>

  <button type="submit">Submit</button>
</form>


<!--<ul>
    @for (account of accounts; track account.id){
    <li>
      {{ account.id }}

      	@for (accountline of account.accountLines; track accountline.date){

      		<li>
      			{{ accountline.date }}
      		</li>


      	}

    </li>
    }
</ul>


<ul>

  @for (sumDate of sumDates; track sumDate.year || sumDate.month){

      <li>
        {{sumDate.cuurency}} {{sumDate.month}} {{sumDate.sum}} {{sumDate.year}}
      </li>

  }

</ul>-->

<div>marche</div>

<div id="chart">
  <canvas  #myChart></canvas>
</div>
