/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.success-snackbar {
  --mdc-snackbar-container-color: #4CAF50; /* Green for success */
  --mdc-snackbar-supporting-text-color: white;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336; /* Red for error */
  --mdc-snackbar-supporting-text-color: white;
}

.warning-snackbar {
  --mdc-snackbar-container-color: #ff9800; /* Orange for warning */
  --mdc-snackbar-supporting-text-color: white;
}

.info-snackbar {
  --mdc-snackbar-container-color: #2196F3; /* Blue for info */
  --mdc-snackbar-supporting-text-color: white;
}



