/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.success-snackbar {
  --mdc-snackbar-container-color: #4CAF50; /* Green for success */
  --mdc-snackbar-supporting-text-color: white;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336; /* Red for error */
  --mdc-snackbar-supporting-text-color: white;
}


